<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
    <title>Workflow</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

    <script src="/createWorkflow.js"></script>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="/createWorkflow">Create Workflow Spec</a>
                        <a class="nav-link" href="/createTask">Create Task</a>
                        <a class="nav-link active" href="/viewWorkflows">View Workflow Specs</a>
                        <a class="nav-link" href="/viewTasks">View Tasks</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="jumbotron text-center" style="padding: 25px">
        <h1 class="display-4">View Workflow Specs</h1>
    </div>

    <main class="container" style="padding: 25px 0px 100px 0px;">

        <div class="workflowAccordion justify-content-center" th:each="workflowSpec: ${workflowSpecResponse}">
            <h3 th:text="${workflowSpec.name}"></h3>
            <div class="accordion-item">
                <div id="message"></div>

                <div class="accordion-body">
                    <!-- <h3 th:text="${workflowSpec.name}"></h3> -->

                    <div class="hide">
                        <span id="workflowSpecId" th:text="${workflowSpec.specId}" />
                        <span id="workflowSpecDeploymentStatus" th:text="${workflowSpec.deploymentStatus}" />
                    </div>

                    <div id="workflowSpecDetails" style="padding: 15px;">
                        <h5 class>Workflow Spec Details:</h5>

                        <table class="table table-bordered">
                            <thead class="table-light">
                                <tr>
                                    <th>Workflow Spec Name</th>
                                    <th>Deployment Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td th:text="${workflowSpec.name}"></td>
                                    <td th:text="${workflowSpec.deploymentStatus}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="tasksDetails" style="padding: 15px;">
                        <h5 class>Task Details:</h5>

                        <table class="table table-bordered">
                            <thead class="table-light">
                                <tr>
                                    <th>Task Order</th>
                                    <th>Task Name</th>
                                    <th>Service Name</th>
                                    <th>Deployment Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="task: ${workflowSpec.taskSpecList}">
                                    <td th:text="${task.order}"></td>
                                    <td th:text="${task.taskName}"></td>
                                    <td th:text="${task.serviceName}"></td>
                                    <td th:text="${task.deploymentStatus}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="action-buttons" style="padding-top: 15px;">
                    <button type="button" id="deployWorkflowBtn" class="btn btn-success" onclick="deployWorkflow($(this))">Deploy Workflow</button>
                </div>
            </div>
        </div>
    </main>

    <footer class="bg-dark text-white">
        <div class="container p-4">
            <section class="mb-4">
                <p> > The user just needs to provide the docker images for the tasks and the order in which those tasks need to be executed. </p>
                <p> > Our framework will create docker containers for those tasks, create workflow instances, and orchestrate the execution of tasks of that workflow. </p>
                <p> > This will make it simple for the user to implement and manage their workflow. </p>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2022 Copyright:
            <h6 class="text-white">WORKFLOW AS A SERVICE TEAM</h6>
            <h6 class="text-white">Simplifying Your Workflows</h6>
        </div>
    </footer>
</body>

<script>
$(document).ready(function(){
	// form Accordions
	$(".workflowAccordion" ).accordion();

    var workflowCount = $('.accordion-item').length;
    if(workflowCount > 0){
        // to hide deploy workflow button based on status
        $('.accordion-item').each(function(id, obj){
            var workflowSpecId = $(obj).find('#workflowSpecId').text();
            var deploymentStatus = $(obj).find('#workflowSpecDeploymentStatus').text();

            if(deploymentStatus !== null && deploymentStatus === 'Deployed'){
                $(obj).find('button#deployWorkflowBtn').attr('disabled', true);
            }
        });
    }
    else{
        var noElements =
            '<div class="error-msg justify-content-center" style="text-align: center">'
                +'<h2> No Records found for Workflow Specs </h2>'
            +'<div>';

        $('main.container').html(noElements);
        $('main.container').css('padding', '25px 0px 175px 0px');
    }


    // on click of accordion - collapse / expand
	$('.ui-accordion-header').on('click', function(){
        var accordionObj = $(this).parent('div.workflowAccordion');
        var accordionBodyObj = $(accordionObj).find('div.accordion-item');

        if($(accordionBodyObj).is(':hidden')){
            $(accordionBodyObj).show();
        }
        else{
            $(accordionBodyObj).hide();
        }
	});
});
</script>
</html>
