<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
    <title>Workflow</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

    <script src="/createWorkflow.js"></script>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="/createWorkflow">Create Workflow</a>
                        <a class="nav-link" href="/createTask">Create Task</a>
                        <a class="nav-link active" href="/viewWorkflows">View Workflows</a>
                        <a class="nav-link" href="/viewTasks">View Tasks</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="jumbotron text-center" style="padding: 25px">
        <h1 class="display-4">View Workflows</h1>
    </div>

    <main class="container" style="padding: 25px 0px 100px 0px;">
        <div class="workflowAccordion justify-content-center" th:each="workflowSpec: ${workflowSpecResponse}">
            <h3 th:text="${workflowSpec.name}"></h3>
            <div class="accordion-item">
                <h4 th:text="${workflowSpec.name}"></h4>

                <div class="accordion-body">
                    <div>
                        <h6><span>WorkflowSpec ID:</span> <span id="workflowSpecId" th:text="${workflowSpec.specId}"></span></h6>
                    </div>
                    <div>
                        <h6><span>WorkflowSpec Name:</span> <span th:text="${workflowSpec.name}"></span></h6>
                    </div>
                    <div style="padding-bottom: 10px;">
                        <h6><span>Deployment Status:</span> <span th:text="${workflowSpec.deploymentStatus}"></span></h6>
                    </div>

                    <div style="padding: 10px 0px 0px 25px">
                        <div th:each="task: ${workflowSpec.taskSpecList}">
                            <div style="padding-bottom: 15px;">
                                <h6 style="text-decoration: underline;">
                                    <span>Task #</span><span th:text="${task.order}"></span><span>:</span>
                                </h6>

                                <div>
                                    <h6><span>Task ID: </span><span th:text="${task.taskId}"></span></h6>
                                </div>
                                <div>
                                    <h6><span>Task Name: </span><span th:text="${task.taskName}"></span></h6>
                                </div>
                                <div>
                                    <h6><span>Task Order: </span><span th:text="${task.order}"></span></h6>
                                </div>
                                <div>
                                    <h6><span>Service Name: </span><span th:text="${task.serviceName}"></span></h6>
                                </div>
                                <div>
                                    <h6><span>NodePort: </span><span th:text="${task.nodePort}"></span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="action-buttons" style="padding-top: 15px;">
                    <button type="button" class="btn btn-success" onclick="deployWorkflow($(this))">Deploy Workflow</button>
                </div>
            </div>
        </div>
    </main>

    <footer class="bg-dark text-center text-white">
        <div class="container p-4">
            <section class="mb-4">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                    distinctio earum repellat quaerat voluptatibus placeat nam,
                    commodi optio pariatur est quia magnam eum harum corrupti dicta,
                    aliquam sequi voluptate quas.
                </p>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2022 Copyright:
            <h6 class="text-white">WORKFLOW AS A SERVICE TEAM</h6>
        </div>
    </footer>
</body>

<script>
$(document).ready(function(){
	$(".workflowAccordion" ).accordion();

    // on click of accordion - collapse / expand
	$('.ui-accordion-header').on('click', function(){
        var accordionObj = $(this).parent('div.workflowAccordion');
        var accordionBodyObj = $(accordionObj).find('div.accordion-item');

        if($(accordionBodyObj).is(':hidden')){
            $(accordionBodyObj).show();
        }
        else{
            $(accordionBodyObj).hide();
        }
	});
});
</script>
</html>
