
workflow-ui/.DS_Store
task-flask-microservice/.DS_Store
task-flask-microservice/__pycache__/app.cpython-39.pyc
task-flask-microservice/images/.DS_Store
task-flask-microservice/templates/.DS_Store
.DS_Store
.DS_Store
*.pyc
user-registration/__pycache__/app.cpython-39.pyc
.DS_Store
